.last-priority-item {
  margin-bottom: 15px !important;
}

td, th {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
}

tr:hover {
  background-color: #eee;
}

tr:last-child td {
  border-bottom: 0;
}

table {
  border: 1px solid lightgrey;
  border-spacing: 0;
  width: 100%;
}

.main-content img {
    width: unset !important;
	max-width: calc(100% - 10px);
}

.article {
    width: unset !important;
}

.main-title {
    display: inline;
}

.article h1 {
    padding: 1pt 5pt 1pt 0 !important;
}

.article h2 {
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    margin: 30pt 0 5pt;
}

.article h3 {
    position: relative;
    padding: 3pt 0;
    margin: 0;
    font-weight: 600;
}

.layer3 {
    margin-left: 2em;
}

.article li p {
    line-height: 1.0em;
    margin: 5px;
}

.article blockquote p {
	margin: 0px 5px;
	padding: 8px 0;
}

blockquote {
	background: #eee;
}

.menuitem a svg {
	vertical-align: middle;
	height: 1em;
	width: 1em;
	margin-bottom: 3px;
}

.menuitem {
	margin: 3px 0;
}

/* generic styles */
body {
  margin:0;
  padding:0;
  background:#fafafa;
  font-family:'Source Sans Pro', sans-serif;
  display: flex;
}


a {
  color:darkblue;
  text-decoration: none;
}

/* specific things */

/* sidebar left */

.directory a:hover {
  text-decoration:underline;
}
.directory a:last-child {
  font-weight:700;
}

.main-nav {
  padding:1em;
  width: 20%;
}
.directory {
  margin-left:1em;
}

.main-nav ul {
  list-style:none;
  line-height:1.5em;
}
.main-nav a:hover {
  text-decoration: underline;
}

.active a {
  font-weight:700;
}

/* sidebar right */
.nav-contents {
  /*! position:fixed; */
  /*! top:0; */
  /*! right:1em; */
  /*! padding:1em; */
  display: none;
}
.nav-contents ul {
  list-style:none;
  margin:0 1em;
  padding:0;

}
.nav-contents ul li:first-child {
  border-bottom:1px solid black;
  padding-bottom:0.2em;
  margin-bottom:0.4em;
}
.nav-contents:hover {
  opacity:1;
}
.layer2 {
  margin-left:1em;
}
.nav-contents a:hover {
  text-decoration:underline;
}

/* content */

.main-content {
  margin:0 auto;
  width:80%;
  border-left:1px solid #e3e3e3;
}
.article {
  margin:2em 3em;
  width: 70%;
}
pre {
  border:1px solid #aaa;
  overflow:hidden;
}
pre code {
  overflow-x:scroll;
}

.article a {
  font-weight:600;
  color:#499BC9;
}
.article a:hover {
  text-decoration:underline;
}


p code, li code  {
  background:#F0F0F0;
  color:#444;
  border:1px solid #ccc;
  padding:0.1em 0.2em;
}
.article h1 {
  font-weight:700;
  font-size:30pt;
  padding:6pt 0;
  margin:0;
}
.article p {
  white-space:pre-wrap;
  line-height:1.5em;
  line-break: strict;
}
.article h1, .article h2 {
  position:relative;
}
.section-anchor {
  position:absolute;
  font-weight:400;
  left:-0.8em;
}
.section-anchor a {
  color:#999999;
}
.section-anchor a:hover {
  color:#333333;
}


.menuitem.active {
  font-size: 1.2em;
  line-height: 2em;
}
.main-content img {
  width: 100%;
  display: block;
  margin: 5px 0;
}